@import "tailwindcss";

*{
    font-family: "Roboto", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}


.pb{
    color : "#161721"
}

.mdb{
    color : "#151722"
}

.lb{
    color: "#1B1C27";
}


.bpb{
    background-color : "#161721"
}

.bmdb{
    background-color : "#151722"
}

.blb{
    background-color: "#1B1C27";
}


